[Unit]
Description=PostgreSQL Global
Requires=network-online.target
After=network-online.target

[Container]
ContainerName=postgres-global
Image=docker.io/library/postgres:16-alpine
PublishPort=5432:5432
Environment=POSTGRES_PASSWORD=devpassword
Environment=POSTGRES_USER=devuser
Environment=POSTGRES_DB=devdb
Volume=postgres-global-data:/var/lib/postgresql/data

[Service]
Restart=always

[Install]
WantedBy=default.target
